<header class="page-header">
  <div class+"header-block-container">
<h1>New Book</h1>
<%= link_to 'Back', books_path, class: 'button-white-outline' %>
</div>
</header>

<section class="book-wrapper">
  <div class="book-block-container">
    <% if @book.image_url %>
    <% end %>
    <div class="text-block">
      <br>
      <br>
      <hl><%= @book.title %></hl>
      <h6><%= link_to @book.author.full_name, author_path(@book.author) %></h6>
      <br>
      <br>
      <p><%= @book.description %></p>
      <% if current_user.present? %>
      <%= link_to "Write a review", new_book_review_path(@book) %>
      <% end %>
    </div>
  </div>
</section>